{% extends "base.html" %}

{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%  block title %} bye {% endblock %}
</head>
<body>
    <h2>
        "bye bye!"
    </h2>
    <p>
        nombre: {{nombre_persona|title}} <br>
        apellido: {{apellido_persona|title}} <br>
        carrera: {{carrera_persona}} <br>
    </p>
</body>
</html>

{% endblock %}